body {
    background-color: #7B3F00;
}


.text-color-blue {
  color: blue;
}

.text-color-white {
color: white;
}

.text-color-black {
    color: black;
}

.text-black-ul {
    color: black;
    text-decoration: underline;
  }

.font-blod-400 {
    font-weight: 400;
}

.font-blod-800 {
    font-weight: 800;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: gray;
}

#nav {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
  list-style-type: none;
  }

.mt-40 {
    margin-top: 7em;
}

.mt-2O {
    margin-top: 5em;
}

.my-40{
    margin-top: 5em;
    margin-bottom: 5em;
}

.px-10 {
    padding-left: 2em;
    padding-right: 2em;
}

.px-10-text {
    text-align: center;
    
}

.px-40 {
    padding-left: 15em;
  padding-right: 15em; 
}

.pl-10 {
    padding-left: 2em;
}

.pr-10 {
    padding-right: 2em;
}

.contenue-footer {
    margin: 0em;
    display: flex;
    justify-content: center;
    padding-left: 12em;
    padding-right: 12em;
    list-style-type: none;
    
}

