/* -bg-color- */

.bg-brown {
  background-color: #7b3f00;
}

.bg-brown-100 {
  background-color: #9d7153;
}

/* --text-color-- */

.text-blue {
  color: lightskyblue;
}

.text-center {
  text-align: center;
}

.no-underline {
  text-decoration-line: none;
}

.list-none {
  list-style: none;
}
/* ---Flex--- */

.flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

/* ----padding.Margin---- */

.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

.m-0 {
  margin: 0px;
}

/* ------Grid------ */

.grid {
  display: grid;
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
